<h2><%=@post[:title]%></h2>
<p><%=@post[:body]%></p>
<div>
  <%= link_to "Author", author_post_path %> | <%= link_to "Create a new review", new_post_review_path(@post) %>
</div>
<%= button_to 'Delete', post_path(@post), method: :delete %>
